# Week 1 - Basics of Python

## <span style="color:#1A9FFF">Workshop outline
<!-- 
THIS IS A R MARKDOWN CELL.
THE CONTENT FOLLOWS R MARKDOWN STYLES.
FOR MORE INFO, YOU MAY REFER TO https://www.rstudio.com/wp-content/uploads/2015/02/rmarkdown-cheatsheet.pdf
-->

* ** 1. Before Tutorial **
    + Tut 1a: Suggestions
    + Tut 1b: Installation
    + Tut 1c: Introduction to Jupyter Notebook


* ** 2. Python Basics ** 
    + Tut 2a: Data Type <!-- int, float, string, bool, list, dictionary (indexing slicing) -->
    + Tut 2b: Flow Control <!-- for, if -->
    + Tut 2c: Function
    + Exercise 2
    + 10 minutes break
      

* ** 3. Pandas Basics **
    + Tut 3a: Basic Data Structure
    + Tut 3b: Basic Statistics
    + Exercise 3
    + 10 minutes break

# <span style="color:#1A9FFF">1. Before Tutorial</span>
## <span style="color:#1A9FFF">Tut 1a. Suggestions</span>

<ul>
    <li>** Try every code in the tutorial **</li>
    <li>** In the class, interrupt me any time if you have any question **</li>
    <li>** After class, search by Google first if you meet any problem **</li>
</li> 
</ul>

## <span style="color:#1A9FFF">Tut 1b. Installation</span>

** Anaconda : ** Anaconda is a Python/R distribution. It aims to provide everything you need in Python for data science. It includes:
    <ul>
        <li> The core Python language </li>
        <li> 100+ Packages (toolbox) </li>
        <li> Jupyter Notebook and Spyder </li>
        <li> `conda` package manager </li>
    </ul>
    ** Anaconda Installation Package : https://www.anaconda.com/download **
    
<!-- The installation may take a while, move on to the "Introduction of Jupyter Notebook" first. -->

## <span style="color:#1A9FFF">Tut 1c. Introduction to Jupyter Notebook</span>

** Notebook Document ** : Notebook documents are both human-readable documents containing the analysis description and the results (figures, tables, etc..) as well as executable documents which can be run to perform data analysis. 

** Jupyter Notebook **  : The Jupyter Notebook App is a server-client application that allows editing and running notebook documents via a web browser. The basic component of Jupyter Notebook is cell.
    <ul>
        <li> ` Markdown Cell ` for Rich Text ( [Tutorial](https://www.markdowntutorial.com) )</li>
        <li> ` Code Cell ` for Excutable Code </li>
    </ul>

### This is a simple Markdown example

*** we can make a list: ***
+ The core Python language
+ 100+ Packages (toolbox)
+ Jupyter Notebook and Spyder
+ `conda` package manager

*** we can attach a link: ***
  [link here](http://www.ntu.edu.sg/Pages/home.aspx)

### This is an example of excutable document (code)

In [1]:
print ("I love NTU")    # basic output statement in Python
print ("I love Data Science")
print ("I love Python!!!")

I love NTU
I love Data Science
I love Python!!!

# <span style="color:#1A9FFF">2. Python Basics</span>
## <span style="color:#1A9FFF">Tut 2a. Data Type</span>

### Basic Data Type and Their Operations
<ul>
    <li> Data Type      : `Integer`, `Float`, `String`, `Bool` </li>
    <li> Data Structure : `List`, `Dictionary` </li>
</ul>

##### Integer

In [2]:
a = 1 # define a integer
b = 2 # another integer

print("a =", a, ", b =", b)

a = 1 , b = 2

In [3]:
add_c = a + b # addition of two integers
print("a + b =", add_c)

a + b = 3

In [4]:
sub_c = a - b # substraction of two integers
print("a - b =", sub_c)

a - b = -1

In [5]:
mul_c = a * b # multiplication of two integers
print("a * b =", mul_c)

a * b = 2

In [6]:
div_c = a / b # division of two integers
print("a / b =", div_c, "  <= Division of Integers (rounded down)")

a / b = 0.5   <= Division of Integers (rounded down)

##### Float

In [7]:
a = 1.0  # define a float (decimal)
b = 2    # a integer

print("a =", a, ", b =", b)

a = 1.0 , b = 2

In [8]:
add_c = a + b # addition of two floats
print("a + b =", add_c)

a + b = 3.0

In [9]:
sub_c = a - b # substraction of two floats
print("a - b =", sub_c)

a - b = -1.0

In [10]:
mul_c = a * b # multiplication of two floats
print("a * b =", mul_c)

a * b = 2.0

In [11]:
div_c = a / b # division of two integers
print("a / b =", div_c, "  <= Division of Float")

a / b = 0.5   <= Division of Float

##### String

In [12]:
s = "I love "       # define a string
something = 'XXX'   # another string

print(s + something) # addition of strings

I love XXX

##### Bool
`True` and `False`

In [13]:
a = True  # define a bool
b = False # another bool
print("a =", a, ", b =", b)

# Condition Statement
a = (2 > 3)
b = (2 == 2)
print("From Condition Statement")
print("a =", a, ", b =", b)

a = True , b = False
From Condition Statement
a = False , b = True

In [14]:
# Let's do another example
a = True  # define a bool
b = False # another bool
print("a =", a, ", b =", b)

a = True , b = False

In [15]:
# logic operation
and_c = a and b # "and" operation of two bool variables
print("a and b =", and_c)

a and b = False

In [16]:
or_c  = a or b  # "or" operation of two bool variables
print("a or b  =", or_c)

a or b  = True

In [17]:
not_c = not a   # "not" operation of a bool variable
print("not a   =", not_c)

not a   = False

### List
##### Create a list

In [18]:
# Define a list

l_number = [2017, 10, 12, 15, 44, 55.0]             # a list of numbers
l_string = ['Andrew', 'Jordan', 'Hinton', 'LeCun']  # a list of strings

a = 3       # a integer
b = True    # a bool
c = 5.0     # a float
d = 'True'  # a string

l_variable = [a, b, c, d] # a combination of different data types

print ("List of numbers   : ", l_number)
print ("List of strings   : ", l_string)
print ("List of variables : ", l_variable)

List of numbers   :  [2017, 10, 12, 15, 44, 55.0]
List of strings   :  ['Andrew', 'Jordan', 'Hinton', 'LeCun']
List of variables :  [3, True, 5.0, 'True']

##### Indexing of list
* use a integer with a bracket `[]`
* index starts from `0`

In [19]:
# 1. Indexing of list

l_string = ['Andrew', 'Jordan', 'Hinton', 'LeCun']  # a list of strings
#               0         1         2        3      positive indexing
#              -4        -3        -2       -1      negative indexing
print ("< 1. Indexing of list >")
print ("Positive Indexing :", l_string[0])   # indexing, select the first string (positive index)
print ("Negative Indexing :", l_string[-1])  # indexing, select the last string (negative index)
print ("Slicing  :", l_string[0:2])          # slicing,  select the first and second string

< 1. Indexing of list >
Positive Indexing : Andrew
Negative Indexing : LeCun
Slicing  : ['Andrew', 'Jordan']

In [ ]:
# 2. Change one of the elements

In [ ]:
# 3. String is a list of char (character)

### Dictionary
give each item a name ( indexing with a pre-defined 'name'ï¼Œ ***key*** )

** { <span style="color:#FF8B33">'key1'</span> : value1 , <span style="color:#FF8B33">'key2'</span> : value2 , . . . , <span style="color:#FF8B33">'keyN'</span> : valueN } **

In [20]:
# 1. Define a dictionary
# define with a curly brace{}

d = {'int':1, 'float':1.0, 'bool':True, '1': 'Andrew', '2':'Hinton', '3':'LeCun'}
print ("< 1. Define a dictionary >")
print ("dictionary d :", d)

< 1. Define a dictionary >
dictionary d : {'int': 1, 'float': 1.0, 'bool': True, '1': 'Andrew', '2': 'Hinton', '3': 'LeCun'}

In [ ]:
# 2. Define an empty dictionary

In [ ]:
# 3. Indexing of dictionary
# use a key with bracket []

In [ ]:
# 4. Replace value of an item

### List v.s. Dictionary
<ul>
    <li> Indexing in Dictionary is faster than List </li>
    <li> Dictionary costs much more mermory than List </li>
</ul>

## <span style="color:#1A9FFF">Tut 2b. Flow Control</span>

### If Statement
Run code based conditions
<img src="res/if.png">

##### A Simple Example

In [21]:
condition = True  # define a bool variable called "condition"

if condition:
    print ("The condition is True")
else:
    print ("The condition is False")

The condition is True

##### Using Condition Statement

In [ ]:
# define a float variable recording a student's height
# if the student is higher than 160.0cm, he will be given an apple
# if the student is lower than 160.0cm,  he will be given a banana

height = 170.0  # the height of the student

##### if, elif, else

 <ul>
    <li> `if, else` is just binary-branch flow control statement. </li>
    <li> For multi-branch flow control, we can use `if, elif, else`. </li>
</ul>


More complicated case:
<img src="res/gpa.png">

In [ ]:
# decide the grade of a student based on the score provided

score = 75 # score of a student

### For Loop
Repeat codes many times, with a variable changing as the way we define
<img src="res/for.png">

##### A simple example

In [22]:
# print the iter_variable repeatedly with the value of iter_variable changed from 0 to 3

# 1. A simple example

print ("< 1. A simple example >")
for iter_variable in [0, 1, 2, 3]:
    print (iter_variable)

< 1. A simple example >
0
1
2
3

In [ ]:
# 2. A more convenient way

In [ ]:
# 3. A flexible way

##### Repeat an operation

In [24]:
# sum up the numbers from 1 to 10


# 1. The most naive way

print("< 1. The most naive way >")
sum_10 = 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
print("sum from 1 to 10 :", sum_10)

< 1. The most naive way >
sum from 1 to 10 : 55

In [ ]:
# 2. The right way to do

In [ ]:
# 3. More numbers involved

### While Loop
Repeat codes until condition is not satisfied
<img src="res/while.png">

##### A simple example

In [ ]:
# A DANGEROUS case
condition = True

while condition:
    print("I'm in.")
#     condition = False
    
print("I'm out")

##### Repeat an operation

In [26]:
# sum up the numbers from 1 to 100

counter = 1
sum_100 = 0

while counter <= 100:
    sum_100 = sum_100 + counter
    counter = counter + 1
    
print("sum from 1 to 100 :", sum_100)

    
    
# illustration code
# counter = 1
# sum_9   = 0
# print "counter", " sum_9", '\n'
# while counter <= 9:
#     sum_9 = sum_9 + counter
#     print counter, "         ", sum_9
#     counter = counter + 1

sum from 1 to 100 : 5050

## <span style="color:#1A9FFF">Tut 2c. Function</span>

### Definition of Function
Enclosing codes so that it can be called repeatedly and flexibly
<img src="res/function.png">

In [27]:
# 1. A simple example

# define a function sum up numbers from 1 to n (n is the input parameter)
def sumUp(n):          # user-defined function
    
    # initialize a variable
    sum_n = 0
    
    # use "for loop" to implement sum up function, based on input parameter "n"
    for i in range(n):
        sum_n = sum_n + (i+1)
    
    # output the result, end of the function
    return sum_n

In [28]:
# ================================================
n = 10
print ("< 1. A simple example >")
print ("Output of sumUp function :", sumUp(n))
# ================================================

< 1. A simple example >
Output of sumUp function : 55

In [ ]:
# 2. Multiple iuputs

# define a function sum up two input variables "a" and "b"

In [ ]:
# 3. Multiple outputs

# define a function sum up and multiple up numbers from 1 to n (n is the input parameter)

### Built-in functions in Python

##### for List and Dictionary

In [29]:
# ============== List ==================== 

# 1. Generate a list with numbers from 0 to 9 with random order

import random # import a package that helps generate random number 
l = random.sample(range(10), 10)
print ("< 1. Generate a list >")
print ("The generated list :", '\n', l)

< 1. Generate a list >
The generated list :
 [9, 1, 0, 8, 7, 6, 3, 2, 4, 5]

In [ ]:
# 2. Check the length of the generated list

In [ ]:
# 3. Find the maximum and minimum number of the generated list

In [ ]:
# 4. Sort the generated list in accending order

In [ ]:
# 5. Reverse the generated list

In [ ]:
# 6. Add a new item at the end of the list

In [ ]:
# 7. Get index of a certain item in list

In [ ]:
# 8. Delete a item in list

In [30]:
# ============== Dictionary ==================== 

# 1. Define a dictionary
d = {'name':'Nanyang Technological University', 'location':'Singapore', 'birth':1990, 'birth':1991} # repeated name
                                                                                      # the last one will be recorded
print("< 1. Define a dictionary >")
print("The defined dictionary :", d)

< 1. Define a dictionary >
The defined dictionary : {'name': 'Nanyang Technological University', 'location': 'Singapore', 'birth': 1991}

In [ ]:
# 2. Check the length of the generated dictionary

In [ ]:
# 3. Check the key of all items in a dictionary

In [ ]:
# 4. Check the value of all items in a dictionary

In [ ]:
# 5. Delete one item in a dictionary

In [ ]:
# 6. Clear all items in a dictionary

## <span style="color:#FF8B33">Exercise 2 (10 mins break)</span> 
Open `Week1 - Exercise 2.ipynb` and complete the exercises.

# <span style="color:#1A9FFF">3. Pandas Basics </span>

Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a `DataFrame`.

In [31]:
import numpy  as np    # import packages
import pandas as pd

## <span style="color:#1A9FFF">Tut 3a. Basic Data Structure </span>
<ul>
    <li>`Series` : One-dimensional data structure with any data type</li>
    <li>`DataFrame` : Two-dimensional data structure with different data type</li>
    <li>`Panel`  : Three-dimensional data structure</li>
    <li>`PanelND`: N-dimensional data structure </li>
</ul>
More details : [Pandas - Basic Data Structure](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

### Series
A Pandas Series is a one-dimensional array of indexed data. Compared with `list` in Python and `ndarray` in Numpy, the index of Pandas Series is explicitly defined.

One indexing, ** "`index`" **

##### Definition
** `pd.Series(data, index=index)` ** index is default parameter

In [32]:
# 1. Create a Series with a list
s = pd.Series([1,3,5,np.nan,6,8])                                        # default index starts from 0
print ("< 1. Create series with a list >")                               # 'nan' is a specific symbol for missing data
print ("A Series defined from a list:\n", s)                             # 'nan' = not a number

< 1. Create series with a list >
A Series defined from a list:
 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
# 2. Create a Series with a dictionary

In [ ]:
# 3. Create a Series with nonsequential indices

In [ ]:
# 4. Create a Series with an array of char

In [ ]:
# 5. Attributes values and index

In [ ]:
# 6. Give a Series and its index names

##### Indexing
Similar to list in Python, we can access data in Series by using square-bracket notation `[]`.

In [34]:
# 1. Indexing with numbers
s = pd.Series([1,3,5,np.nan,6,8]) 
print ("< 1. Indexing with numbers >")
print (s[0:2])

< 1. Indexing with numbers >
0    1.0
1    3.0
dtype: float64

In [35]:
# 2. Indexing with user-defined indices
d = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}       # user-defined index
s = pd.Series(d)
print ("< 2. Indexing with user-defined indices >\n")
print ("original series :        <==== [ index is drawn from the sorted keys ]")
print (s, '\n')   
print ("series slicing :")
print (s['Ohio':'Texas'])

< 2. Indexing with user-defined indices >

original series :        <==== [ index is drawn from the sorted keys ]
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

series slicing :
Ohio     35000
Texas    71000
dtype: int64

### DataFrame
`DataFrame`s are essentially multidimensional arrays with attached **`row`** and **`column`** labels, and often with heterogeneous types and/or missing data.

Two indexings, ** "`index`" ** for row indexing and ** "`columns`" ** for column indexing

##### Definition

In [37]:
# 1. Create from a dictionary of Series (with missing data filled in)

d = {'Age'    : pd.Series([27, 21, 30],         index=['John', 'Emma', 'Andrew']), 
     'Height' : pd.Series([165, 177, 154, 169], index=['John', 'Emma', 'Andrew', 'Steven'])}
df_ds = pd.DataFrame(d)

print ("< 1. Create from a dictionary of Series >")
print (df_ds, "    <====[ Steven's age is not provided ]")

< 1. Create from a dictionary of Series >
         Age  Height
Andrew  30.0     154
Emma    21.0     177
John    27.0     165
Steven   NaN     169     <====[ Steven's age is not provided ]

In [ ]:
# 2. Create from a list of dictionaries

##### Simple Indexing

select rows ( items ) and columns

In [ ]:
# 1. Indexing with pre-defined name (rows)

In [ ]:
# 2. Indexing with numbers (rows)

In [ ]:
# 3. Select columns

### Index Object
Both the Series and DataFrame objects contain an explicit **`index`** that helps you reference and modify data. It is an `immutable array` and `ordered set`.

##### Definition

In [39]:
# Create a Index object
idx1 = pd.Index([1, 3, 5, 7, 9, 11])
idx2 = pd.Index([2, 4, 5, 7, 9, 12])

print ("The created Index objects\n", idx1, '\n', idx2)

The created Index objects
 Int64Index([1, 3, 5, 7, 9, 11], dtype='int64')
 Int64Index([2, 4, 5, 7, 9, 12], dtype='int64')

##### Indexing

In [ ]:
# Indexing with integers

##### Attributes

In [ ]:
# Attributes - size, shape, ndim, dtype
print ("size of the index      :",   )
print ("shape of the index     :",   )
print ("dimension of the index :",   )
print ("type of the index      :",   )

##### Property

In [ ]:
# Immutable (values in Index cannot be changed)
# idx1[0] = 0

# Set operation
print ("Intersection of idx1 and idx2         :",   )
print ("Union of idx1 and idx2                :",   )
print ("Symmetric difference of idx1 and idx2 :",   )

## <span style="color:#1A9FFF">Tut 3b. Basic Statistics </span>
Basic statistics on DataFrame

In [40]:
# Create a DataFrame
# AZ = Arizona, CA = California, FL = Florida
# HI = Hawaii,  MI = Michigan,   PA = Pennsylvania
# TX = Texas,   VA = Virginia,   WA = Washington

s_popu  = pd.Series([6.9,   39.3,  20.6,  1.43, 9.93,  12.8,  27.9,  8.4,   7.3],   index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # million persons
s_area  = pd.Series([295.2, 424.0, 170.3, 28.3, 250.5, 119.3, 695.7, 110.8, 184.7], index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # thousand km^2
s_warea = pd.Series([1.0,   20.5,  31.4,  11.7, 104.1, 3.4,   19.1,  8.5,   12.5],  index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # thousand km^2

d = {'area_water'  : s_warea, 
     'population'  : s_popu,
     'area_total'  : s_area
     
    }
df = pd.DataFrame(d)
df

    area_water  population  area_total
AZ         1.0        6.90       295.2
CA        20.5       39.30       424.0
FL        31.4       20.60       170.3
HI        11.7        1.43        28.3
MI       104.1        9.93       250.5
PA         3.4       12.80       119.3
TX        19.1       27.90       695.7
VA         8.5        8.40       110.8
WA        12.5        7.30       184.7

In [ ]:
# 1. Check average area and population

In [ ]:
# 2. Check minimum area and population

In [ ]:
# 3. Check maximum area and population

In [ ]:
# 4. Check median area and population

In [ ]:
# 5. Check standard deviation of area and population

In [ ]:
# 6. Check correlation between columns

# <span style="color:#FF8B33">Exercise 3 (10 mins break)</span> 
Open `Week1 - Exercise 3.ipynb` and complete the exercises.